
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Plus Jakarta Sans';
  src: url('../fonts/plus-jakarta-sans-v8-latin-regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@layer components {
  .loader {
    border: 5px solid #f3f3f3; /* Warna latar belakang lingkaran */
    border-top: 5px solid #3498db; /* Warna animasi spinner */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
  }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

:root {
  --bs-primary: #8B5CF6; /* Warna ungu dari Tailwind */
  --bs-primary-rgb: 139, 92, 246;
  --bs-btn-hover-bg: #7C3AED;
  --bs-btn-hover-border-color: #7C3AED;
  --bs-link-color: #8B5CF6;
  --bs-link-hover-color: #7C3AED;
}